In [12]:
import pandas as pd
import numpy as np
import pandas.tseries.offsets as offsets

In [13]:
df=pd.read_excel('sample.xlsx',header=1)

In [14]:
df

,#,名前,説明,時間,時間\n（日本時間）,精度,マップ,カテゴリ,緯度,経度,...,種類,信頼度,ソース (2),アカウント,削除済,タグメモ,ソース抽出,ソースファイル情報,カービング済み,手動デコード済み
0,1,NaN,NaN,8/25/2020 1:49:01 AM,2020-08-25 10:49:01,NaN,NaN,NaN,32.858182,130.769222,...,NaN,82.0,NaN,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.sam...,はい,NaN
1,2,NaN,NaN,8/19/2020 4:25:03 PM,2020-08-20 01:25:03,NaN,NaN,NaN,32.858018,130.769229,...,NaN,90.0,NaN,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.ntt...,はい,NaN
2,3,NaN,NaN,8/17/2020 5:31:49 AM,2020-08-17 14:31:49,NaN,NaN,NaN,32.858105,130.769046,...,NaN,90.0,NaN,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.ntt...,はい,NaN
3,4,NaN,NaN,8/9/2020 1:04:14 AM,2020-08-09 10:04:14,NaN,NaN,NaN,32.783981,130.702301,...,NaN,71.0,Gallery,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.sec...,はい,NaN
4,5,NaN,NaN,8/2/2020 10:13:46 PM,2020-08-03 07:13:46,NaN,NaN,NaN,32.754878,130.691860,...,NaN,44.0,NaN,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/jp.co.n...,はい,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4298,4299,SHARP AQUOS Mobile Life,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN
4299,4300,PECO［ペコ］,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN
4300,4301,国境なき医師団 日本,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN
4301,4302,TBS NEWS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN
4302,4303,guangguang.tengben,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN

In [15]:
spdate=df['時間'].str.split('(^[0-9]+\/[0-9]+\/[0-9]+\s[0-9]+\:[0-9]+\:[0-9]+)',expand=True)

In [16]:
spdate

        0                  1    2
0          8/25/2020 1:49:01   AM
1          8/19/2020 4:25:03   PM
2          8/17/2020 5:31:49   AM
3           8/9/2020 1:04:14   AM
4          8/2/2020 10:13:46   PM
...   ...                ...  ...
4298  NaN                NaN  NaN
4299  NaN                NaN  NaN
4300  NaN                NaN  NaN
4301  NaN                NaN  NaN
4302  NaN                NaN  NaN

[4303 rows x 3 columns]

In [17]:
spdate['fixdate']=pd.to_datetime(spdate[1])

In [18]:
spdate

        0                  1    2             fixdate
0          8/25/2020 1:49:01   AM 2020-08-25 01:49:01
1          8/19/2020 4:25:03   PM 2020-08-19 04:25:03
2          8/17/2020 5:31:49   AM 2020-08-17 05:31:49
3           8/9/2020 1:04:14   AM 2020-08-09 01:04:14
4          8/2/2020 10:13:46   PM 2020-08-02 10:13:46
...   ...                ...  ...                 ...
4298  NaN                NaN  NaN                 NaT
4299  NaN                NaN  NaN                 NaT
4300  NaN                NaN  NaN                 NaT
4301  NaN                NaN  NaN                 NaT
4302  NaN                NaN  NaN                 NaT

[4303 rows x 4 columns]

In [19]:
spdate['UTC9']=0
spdate.loc[spdate[2]=='(UTC+9)','UTC9']=spdate['fixdate']+offsets.Hour(-9)

In [20]:
spdate.loc[spdate[2]==' AM','UTC9']=spdate['fixdate']

In [21]:
spdate.loc[spdate[2]==' PM','UTC9']=spdate['fixdate']+offsets.Hour(12)

In [22]:
spdate

        0                  1    2             fixdate                 UTC9
0          8/25/2020 1:49:01   AM 2020-08-25 01:49:01  1598320141000000000
1          8/19/2020 4:25:03   PM 2020-08-19 04:25:03  1597854303000000000
2          8/17/2020 5:31:49   AM 2020-08-17 05:31:49  1597642309000000000
3           8/9/2020 1:04:14   AM 2020-08-09 01:04:14  1596935054000000000
4          8/2/2020 10:13:46   PM 2020-08-02 10:13:46  1596406426000000000
...   ...                ...  ...                 ...                  ...
4298  NaN                NaN  NaN                 NaT                    0
4299  NaN                NaN  NaN                 NaT                    0
4300  NaN                NaN  NaN                 NaT                    0
4301  NaN                NaN  NaN                 NaT                    0
4302  NaN                NaN  NaN                 NaT                    0

[4303 rows x 5 columns]

In [23]:
df=pd.concat([df,spdate['UTC9']],axis=1)

In [24]:
df=df.set_index('UTC9')
df.index=pd.to_datetime(df.index,utc=True)
df.index=df.index.tz_convert('Asia/Tokyo')
df

,#,名前,説明,時間,時間\n（日本時間）,精度,マップ,カテゴリ,緯度,経度,...,種類,信頼度,ソース (2),アカウント,削除済,タグメモ,ソース抽出,ソースファイル情報,カービング済み,手動デコード済み
UTC9,,,,,,,,,,,,,,,,,,,,,
2020-08-25 10:49:01+09:00,1,NaN,NaN,8/25/2020 1:49:01 AM,2020-08-25 10:49:01,NaN,NaN,NaN,32.858182,130.769222,...,NaN,82.0,NaN,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.sam...,はい,NaN
2020-08-20 01:25:03+09:00,2,NaN,NaN,8/19/2020 4:25:03 PM,2020-08-20 01:25:03,NaN,NaN,NaN,32.858018,130.769229,...,NaN,90.0,NaN,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.ntt...,はい,NaN
2020-08-17 14:31:49+09:00,3,NaN,NaN,8/17/2020 5:31:49 AM,2020-08-17 14:31:49,NaN,NaN,NaN,32.858105,130.769046,...,NaN,90.0,NaN,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.ntt...,はい,NaN
2020-08-09 10:04:14+09:00,4,NaN,NaN,8/9/2020 1:04:14 AM,2020-08-09 10:04:14,NaN,NaN,NaN,32.783981,130.702301,...,NaN,71.0,Gallery,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.sec...,はい,NaN
2020-08-03 07:13:46+09:00,5,NaN,NaN,8/2/2020 10:13:46 PM,2020-08-03 07:13:46,NaN,NaN,NaN,32.754878,130.691860,...,NaN,44.0,NaN,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/jp.co.n...,はい,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 09:00:00+09:00,4299,SHARP AQUOS Mobile Life,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN
1970-01-01 09:00:00+09:00,4300,PECO［ペコ］,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN
1970-01-01 09:00:00+09:00,4301,国境なき医師団 日本,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN
1970-01-01 09:00:00+09:00,4302,TBS NEWS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN
1970-01-01 09:00:00+09:00,4303,guangguang.tengben,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Facebook,NaN,NaN,NaN,ファイルシステム,Universal_Android Access.zip/data/data/com.fac...,NaN,NaN

In [25]:
df.to_csv('TS_Fix.csv')

In [26]:
spdate2

NameError: name 'spdate2' is not defined

In [230]:
spdate

      0                    1        2             fixdate                  UTC
0   NaN                  NaN      NaN                 NaT                    0
1    時間                 None     None                 NaT                    0
2        2020/09/09 16:00:00  (UTC+9) 2020-09-09 16:00:00  2020-09-09 07:00:00
3           8/2/2020 1:04:14       AM 2020-08-02 01:04:14  2020-08-02 01:04:14
4          8/19/2020 4:25:03       PM 2020-08-19 04:25:03  2020-08-19 16:25:03
5        2020/07/01 14:30:05  (UTC+9) 2020-07-01 14:30:05  2020-07-01 05:30:05
6        2020/09/09 16:00:00  (UTC+9) 2020-09-09 16:00:00  2020-09-09 07:00:00
7          7/15/2020 7:04:15       AM 2020-07-15 07:04:15  2020-07-15 07:04:15
8          8/21/2020 6:40:11       PM 2020-08-21 06:40:11  2020-08-21 18:40:11
9        2020/07/01 14:30:05  (UTC+9) 2020-07-01 14:30:05  2020-07-01 05:30:05
10       2020/09/13 12:00:00  (UTC+9) 2020-09-13 12:00:00  2020-09-13 03:00:00
11        8/13/2020 10:04:16       AM 2020-08-13 10:04:16  2020-08-13 10:04:16

In [69]:
splitdate
df['new_era']=df[0].str.cat(str(df[1]))

TypeError: Cannot use .str.cat with values of inferred dtype 'mixed-integer'.

In [57]:
todt=pd.to_datetime(splitdate.iloc[2:,0])
todt

2    2020-09-09
3    2020-08-02
4    2020-08-19
5    2020-07-01
6    2020-09-09
7    2020-07-15
8    2020-08-21
9    2020-07-01
10   2020-09-13
11   2020-08-13
Name: 0, dtype: datetime64[ns]

In [53]:
todt

2    2020-09-09
3    2020-08-02
4    2020-08-19
5    2020-07-01
6    2020-09-09
7    2020-07-15
8    2020-08-21
9    2020-07-01
10   2020-09-13
11   2020-08-13
Name: 0, dtype: datetime64[ns]

In [11]:
df=pd.concat([df,df[2].str.split(expand=True)],axis=1)

In [12]:
df

,0,1,2,3,4,5,6,0,1,2
0,Sample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#,名前,時間,終了時刻,カテゴリ,緯度,経度,時間,None,None
2,1,test1,2020/09/09 16:00:00(UTC+9),NaN,NaN,32.858182,130.769222,2020/09/09,16:00:00(UTC+9),None
3,2,test2,8/2/2020 1:04:14 AM,NaN,NaN,32.85801,130.7690463,8/2/2020,1:04:14,AM
4,3,NaN,8/19/2020 4:25:03 PM,NaN,NaN,32.857854,130.14611704,8/19/2020,4:25:03,PM
5,4,NaN,2020/07/01 14:30:05(UTC+9),NaN,NaN,32.857690,130.21532945,2020/07/01,14:30:05(UTC+9),None
6,5,NaN,2020/09/09 16:00:00(UTC+9),NaN,NaN,32.857526,130.28454,2020/09/09,16:00:00(UTC+9),None
7,6,test6,7/15/2020 7:04:15 AM,NaN,NaN,32.85736,130.35375427,7/15/2020,7:04:15,AM
8,7,test7,8/21/2020 6:40:11 PM,NaN,NaN,32.857198,130.42296668,8/21/2020,6:40:11,PM
9,8,NaN,2020/07/01 14:30:05(UTC+9),NaN,NaN,32.857034,130.492179,2020/07/01,14:30:05(UTC+9),None
10,9,test9,2020/09/13 12:00:00(UTC+9),NaN,Wireless Network,32.8568,130.56139150,2020/09/13,12:00:00(UTC+9),None
11,10,test10,8/13/2020 10:04:16 AM,NaN,NaN,32.856706,130.63060391,8/13/2020,10:04:16,AM

In [34]:
fix2=pd.to_datetime(fix[0][2:])

In [35]:
fix2

2    2020-09-09
3    2020-08-02
4    2020-08-19
5    2020-07-01
6    2020-09-09
7    2020-07-15
8    2020-08-21
9    2020-07-01
10   2020-09-13
11   2020-08-13
Name: 0, dtype: datetime64[ns]